# WordPress core
/wp-admin/
/wp-includes/

# WordPress config
/wp-config.php

# Plugins
/wp-content/plugins/

# Parent theme
/wp-content/themes/generatepress/

# Default WordPress themes
/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentyfour/
/wp-content/themes/twentytwentyfive/

# Uploads
/wp-content/uploads/

# Cache
/wp-content/cache/
/wp-content/litespeed/

# Database
*.sql

# LocalWP
/local-xdebuginfo.php

# Logs
*.log

# Temporary files
*.tmp

# System
.DS_Store
Thumbs.db

# WordPress root files
/.htaccess
/.htaccess.bk
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php