# WordPress core
wp-admin/
wp-includes/

# Database
*.sql

# Config
wp-config.php

# Media
wp-content/uploads/

# Cache
wp-content/cache/
wp-content/litespeed/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db